doctype html
html
    include shared/head.pug
    body
        h1 Proto Chat #{nickname}
        .container
            .row 
                .list-group.col-sm-6#user-list
                    each value in private
                        button(id='user'+value._id  data-toggle='modal' data-target='#chat'+value._id).list-group-item= value.nickname
                            span(id='badge'+value._id).badge.badge-primary.badge-pill offline
                .col-sm-6#user-chat
                    p click!

        each value in private
            div(id='chat'+value._id tabindex='-1').modal.fade
                .modal-dialog 
                    .modal-content.modal-content-custom
                        .modal-header.modal-header-custom
                            h3#header-nickname 
                                span(style='vertical-align:middle').fa.fa-lg.fa-user-circle
                                |
                                |
                                |
                                .
                                    #{value.nickname}
                            button(type='button' data-dismiss='modal').close.close-custom
                                span.fa.fa-close.fa-close-custom
                        .modal-body.modal-body-custom
                            - var chat=value.chat
                            each value in chat 
                                .card.w-75.card-custom-1
                                    .card-body.d-flex.card-body-custom
                                        p.mr-auto.mb-0 #{value.text}
                                        - var date= new Date(value.time)
                                        p.mb-0.small #{date.getHours()+':'+date.getMinutes()}
                        .modal-footer.d-block
                            form
                                .form-row
                                    .col-1 
                                        button.btn.btn-light
                                            span.fa.fa-plus
                                    .col-9
                                        input(type='text' id='input'+value._id).form-control
                                    .col
                                        button(type='submit' onclick='formOnClick(event)' id='submit'+value._id).btn.btn-dark
                                            span.fa.fa-arrow-right

                            

      





        a(href='/logout') Logout 
        p #{message}
        script(src='/socket.io/socket.io.js')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js")
        script(src='/public/script.js')
